# Copyright (c) 2009-2012, The Linux Foundation. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are met:
#     * Redistributions of source code must retain the above copyright
#       notice, this list of conditions and the following disclaimer.
#     * Redistributions in binary form must reproduce the above copyright
#       notice, this list of conditions and the following disclaimer in the
#       documentation and/or other materials provided with the distribution.
#     * Neither the name of The Linux Foundation nor
#       the names of its contributors may be used to endorse or promote
#       products derived from this software without specific prior written
#       permission.
#
# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
# AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
# IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
# NON-INFRINGEMENT ARE DISCLAIMED.  IN NO EVENT SHALL THE COPYRIGHT OWNER OR
# CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL,
# EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO,
# PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS;
# OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
# WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR
# OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF
# ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
#

import init.qcom.usb.rc

on init
    # permissions for NFC
    chown nfc nfc /sys/class/NFC_sensor/comn/nxp_uicc_swp
    chmod 0664 /sys/class/NFC_sensor/comn/nxp_uicc_swp

    mkdir /nfc_record 0700 system system
    wait /dev/block/platform/msm_sdcc.1/by-name/nfc_record
    mount ext4 emmc@nfc_record /nfc_record nosuid nodev noatime barrier=1

    # NFC local data and nfcee xml storage
    mkdir /data/nfc 0770 nfc nfc
    mkdir /data/nfc/param 0770 nfc nfc

# Felica +
service felica_daemon /system/bin/felica_daemon
    class late_start
    oneshot

service felica_agent /system/bin/felica_agent
    class late_start
    oneshot
# Felica -

 # felica device file nodes
 /dev/felica            0660   felicaclient   felicaclient
 /dev/felica_pon        0660   felicaclient   felicaclient
 /dev/felica_cen        0660   felicalock     felicaclient
 /dev/felica_rfs        0440   felicaclient   felicaclient
 /dev/felica_rws        0660   felicarwsapp   felicaclient
 /dev/felica_int        0440   felicaclient   felicaclient
 /dev/felica_int_poll   0400   felicaclient   felicaclient
 /dev/felica_uid        0220   felicaclient   felicaclient
 
 # snfc device file nodes
 /dev/ttyHSL5           0660   nfc   nfc
 /dev/snfc_pon          0660   nfc   nfc
 /dev/snfc_cen          0660   nfc   nfc
 /dev/snfc_rfs          0660   nfc   nfc
 /dev/snfc_intu         0660   nfc   nfc
 /dev/snfc_intu_polling 0660   nfc   nfc
 /dev/snfc_auto_polling 0660   nfc   nfc
 /dev/snfc_hsel         0660   nfc   nfc
